In [1]:
print('Hello from Jupyter')

Hello from Jupyter

In [2]:
my_str = 'Hello'
my_int = 16
print(my_str)
print(my_int)

Hello
16

In [3]:
my_str

'Hello'

In [4]:
my_str
my_int

16

In [5]:
number_of_apples=5
if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples ==1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

In [6]:
student_names = ['Alice','Bob','Carol','Dave']
student_names[1]

'Bob'

In [7]:
student_names[0]

'Alice'

In [8]:
student_names[-1]

'Dave'

In [9]:
student_names[0:2]

['Alice', 'Bob']

In [10]:
student_names[1:3]

['Bob', 'Carol']

In [11]:
student_names[:2]

['Alice', 'Bob']

In [12]:
student_names[2:]

['Carol', 'Dave']

In [13]:
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

In [14]:
student_names.insert(2,'Xavier')
student_names

['Alice', 'Bob', 'Xavier', 'Carol', 'Dave', 'Esther']

In [15]:
del student_names[2]
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

In [16]:
student_names.append('Esther')
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther', 'Esther', 'Esther']

In [17]:
student_names = ['Alice','Bob','Carol','Dave']
for student_name in student_names:
    print('Hello '+ student_name + '!')

Hello Alice!
Hello Bob!
Hello Carol!
Hello Dave!

In [19]:
long_names = []
for student_name in student_names:
    if len(student_name)>4:
        long_names.append(student_name)
long_names

['Alice', 'Carol']

In [20]:
student_names = ['Alice','Bob','Carol','Dave']
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
        (student_name_0,student_name_1)
        )
student_pairs

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave')]

In [21]:
student_pairs[0]

('Alice', 'Alice')

In [23]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol')]

In [24]:
student_grade = ('Alice','Spanish','A-')
student_grade

('Alice', 'Spanish', 'A-')

In [25]:
student_grade[0]

'Alice'

In [26]:
student_grade.append('IU Bloomington')

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
del student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [28]:
student_grade[2] = 'C'

TypeError: 'tuple' object does not support item assignment

In [29]:
student_grade = ('Alice','Spanish', 'A-')
student_name , subject,grade=student_grade
print(student_name)
print(subject)
print(grade)

Alice
Spanish
A-

In [32]:
student_grade = [
    ('Alice','Spanish','A'),
    ('Bob','French','C'),
    ('Carol','Italian','B+'),
    ('Dave','Italian','A-'),
]
for student_name , subject , grade in student_grade:
    if grade.startswith('A'):
        print('Congratulations',student_name,'on getting an'
             ,grade,'in',subject)

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [41]:
for student_grades in student_grade:
    if student_grades[2].startswith('A'):
        print('Congratulations', student_grades[0],
              'on getting an', student_grades[2],
              'in', student_grades[1])

IndexError: string index out of range

In [42]:
foreign_language = {
    'Alice' : 'Spanish',
    'Bob' : 'French',
    'Carol' : 'Italian',
    'Dave' : 'Italian',
    
}

In [43]:
foreign_language['Carol']

'Italian'

In [44]:
foreign_language['zeke']

KeyError: 'zeke'

In [45]:
'Zeke' in foreign_language

False

In [46]:
'Alice' in foreign_language

True

In [47]:
'alice' in foreign_language

False

In [48]:
foreign_language['Esther'] = 'French'
foreign_language

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [49]:
del foreign_language['Bob']
foreign_language

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [50]:
foreign_language['Esther'] = 'Italian'
foreign_language

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

In [51]:
for key in foreign_language:
    value = foreign_language[key]
    print(key,'is taking',value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [52]:
for key,value in foreign_language.items():
    print(key,'is taking',value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [53]:
student_grade =('Alice','Spanish','A')

In [57]:
student_name, subject, grade = student_grade[0]
print(student_name, 'got a grade of', grade, 'in', subject)

ValueError: too many values to unpack (expected 3)

In [58]:
record = {
    'name' :'Alice',
    'subject' : 'Spanish',
    'grade' : 'A',
}
print(record['name'],'got a grade of', record['grade'],
     'in' , record['subject'])

Alice got a grade of A in Spanish

In [59]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

In [60]:
student_grades[1]

('Bob', 'French', 'C')

In [61]:
student_grades[1][2]

'C'

In [65]:
student_grade_records = []
for student_name,subject,grade in student_grades:
    record = {
        'name':student_name,
        'subject':subject,
        'grade':grade,
    }
    student_grade_records.append(record)
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [66]:
student_grade_records[1]

{'name': 'Bob', 'subject': 'French', 'grade': 'C'}

In [67]:
student_grade_records[1]['grade']

'C'

In [68]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [69]:
foreign_language_grades ={}
for student_name,subject,grade in student_grades:
    record={
        'subject':subject,
        'grade':grade,
    }
    foreign_language_grades[student_name]=record
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

In [70]:
foreign_language_grades['Alice']

{'subject': 'Spanish', 'grade': 'A'}

In [71]:
foreign_language_grades['Alice']['grade']

'A'

In [72]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [73]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'

In [74]:
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [75]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
   
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

In [76]:
student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [78]:
student_report_cards['Alice']['Math'] = 'A'
student_report_cards['Alice']['History'] = 'B'

In [79]:
student_report_cards

{'Alice': {'Spanish': 'A', 'Math': 'A', 'History': 'B'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [80]:
student_report_cards['Alice']

{'Spanish': 'A', 'Math': 'A', 'History': 'B'}